<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lumberjack</title>
        <meta name="description" content="A log aggregation tool.">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            *, *::before, *::after {
              box-sizing: border-box;
            }
            * {
              margin: 0;
            }
            body {
              line-height: 1.5;
              -webkit-font-smoothing: antialiased;
            }
            img, picture, video, canvas, svg {
              display: block;
              max-width: 100%;
            }
            input, button, textarea, select {
              font: inherit;
            }
            p, h1, h2, h3, h4, h5, h6 {
              overflow-wrap: break-word;
            }
            #root, #__next {
              isolation: isolate;
            }
            *,
            *::before,
            *::after {
                border: none;
                position: relative;
                box-sizing: border-box;
                outline: none;
                -webkit-tap-highlight-color: transparent;
            }
            button
            {
                cursor: pointer;
                background: transparent;
                user-select: none;
                font-size: inherit;
                font-weight: inherit;
                padding: 0;
            }
            a{
                text-decoration: none;
                color: inherit;
            }
        </style>

        <link href="https://unpkg.com/brixi@^0.8/brixi.min.css" rel="stylesheet" />
        <link href="/static/main.css" rel="stylesheet" />

        <script defer src="https://unpkg.com/htmx.org@1.9.11"></script>
        <script defer src="https://unpkg.com/alpinejs@3.13.8/dist/cdn.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-wasm.js"></script>
        <script type="module" src="/static/main.js"></script>
    </head>
    <body
        x-data="{ theme: localStorage.getItem('theme') || 'light' }"
        x-init="console.log(theme);$el.dataset.theme = theme;"
    >
        <header>
            <span class="label">Log File:</span>
            <file-selector
                x-data="{ open: false, app: '', file: '' }"
                x-on:click.away="open = false"
                x-on:keydown.escape.window="open = false"
                x-on:click.stop="open = !open"
                x-on:file-selected.window="app = $event.detail.app; file = $event.detail.file"
            >
                <div flex="row nowrap items-center">
                    <span x-show="app && file" class="route" x-text="'@local/' + app + '/'"></span>
                    <span x-show="app && file" class="file" x-text="file + '.log'"></span>
                </div>
                <div flex="row nowrap items-center">
                    <span class="size">4.20 MB</span>
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4" /><path d="M16 15l-4 4l-4 -4" /></svg>
                </div>
                <file-menu
                    x-show="open"
                >
                    {% for (app, logs) in apps %}
                        {% for log in logs %}
                            <button
                                x-on:click.capture.stop="$dispatch('file-selected', { app: '{{ app }}', file: '{{ log }}' });open = false;"
                            >
                                <span class="route">@local/{{ app }}/</span>
                                <span class="file">{{ log }}.log</span>
                            </button>
                        {% endfor %}
                    {% endfor %}
                </file-menu>
            </file-selector>
            <button>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
            </button>
            <table-settings
                x-data="{ open: false, theme: localStorage.getItem('theme') || 'light', timezone: localStorage.getItem('timezone') || 'UTC' }"
                x-on:click.away="open = false"
                x-on:keydown.escape.window="open = false"
            >
                <button
                    x-on:click="open = !open"
                >
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>
                </button>
                <settings-menu
                    x-show="open"
                >
                    <label for="theme">Theme</label>
                    <select
                        id="theme"
                        x-on:change="theme = $event.target.value;localStorage.setItem('theme', theme);document.body.dataset.theme = theme;"
                    >
                        <option :selected="theme == 'light'" value="light">Light</option>
                        <option :selected="theme == 'dark'" value="dark">Dark</option>
                    </select>
                    <label for="timezone">Timezone</label>
                    <select
                        x-on:change="timezone = $event.target.value;localStorage.setItem('timezone', timezone);$dispatch('timezone-changed', { timezone: timezone });"
                    >
                        <option :selected="timezone == 'UTC'" value="UTC">UTC</option>
                        <option :selected="timezone == 'local'" value="local">Local</option>
                    </select>
                </settings-menu>
            </table-settings>
        </header>
        <table-filters>
            <button>
                <span>Level</span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4" /><path d="M16 15l-4 4l-4 -4" /></svg>
            </button>
            <button>
                <span>Category</span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4" /><path d="M16 15l-4 4l-4 -4" /></svg>
            </button>
            <button>
                <span>Environment</span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l4 -4l4 4" /><path d="M16 15l-4 4l-4 -4" /></svg>
            </button>
            <message-search>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                <input type="text" placeholder="Search for a message...">
            </message-search>
        </table-filters>
        <table-component></table-component>
        <table-pagination
            x-data="{ page: 1, total: 0, logs: 0 }"
            x-on:table-rendered.window="page = $event.detail.page; total = $event.detail.total; logs = $event.detail.logs;"
        >
            <button disabled>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
            </button>
            <button>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
            </button>
            <span x-text="total > 0 ? `${page * 100 + 1} - ${page * 100 + logs} of ${total}` : ''"></span>
        </table-pagination>
    </body>
</html>

